body {
    color: #F6D193;
    margin: 0;
    font-family: "Fraunces", monospace;
    background: #C76B0F;
    font-size: 1.5em;
}
#header {
    padding: 1em;
    background-color: #C76B0F;
    background-image: linear-gradient(to bottom right, #C76B0F, #A25404);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
}
#header img {
    max-width: 50rem;
}

#header-gallery {
    padding: 2em;
    background-color: #C76B0F;
    background-image: linear-gradient(to bottom right, #C76B0F, #A25404);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#header-gallery h1 {
    margin: 0;
}

.top-button {
    position: absolute;
    top: 20px;
    right: 30px;
}

.status-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.status-list p {
    margin: 0;
}

.status-list > a.active {
    color: #f59433;
}

#footer {
    padding: 1em;
    text-align: center;
    background: #603101;
}

a {
    color: inherit;
}

#form-link {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    background: #603101;
    border-radius: 0.5em;
    box-shadow: #603101 1px 1px 10px;
}

.hoverable {
    transition: 0.3s;
}
.hoverable:hover {
    transform: translateY(-5px);
}

.boba-number {
    background-image: url('images/boba.svg');
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 4px;
}

.container {
    padding: 1em;
    background-image: linear-gradient(to bottom right, #C76B0F, #A25404);
    

}

.section {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
}

.grid-steps {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1em;
    max-width: 50rem;
    margin: 0 auto;
    /* max-width:  */
}

#grid-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 1em;
    max-width: 70rem;
    margin: 0 auto;
}

@media (max-width: 64rem) {
    #grid-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 48rem) {
    .grid-steps {
        grid-template-columns: 1fr;
    }
    #grid-gallery {
        grid-template-columns: 1fr;
    }
}

.grid-submission {
    padding: 1em;
    background-color: #A25404;
    border-radius: 1em;
}

.grid-submission > .links a {
    text-decoration: none;
}

.submission-photo {
    height: 160px;
    background-size: cover;
    background-position: center;
    margin-bottom: 6px;
    border-radius: 10px;
}

.status {
    border-radius: 1em;
    padding: 3px 10px;
    font-size: 16px;
}

.status.approved {
    background: green;
}

.status.approved::after {
    content: "Approved";
}

.status.pending {
    background: rgb(196, 160, 0);
}

.status.pending::after {
    content: "Pending";
}

.status.rejected {
    background: red;
}

.status.rejected::after {
    content: "Rejected";
}

.links {
    margin-top: 8px;
}

.github-button {
    background-color: #4c2a0d;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.demo-button {
    background-color: #733e08;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.item-step {
    padding: 1em;
    color: white;
    border-radius: 1em;
    display: flex;
    position: relative;
    aspect-ratio: 2 / 1;
}

.item-text {
    position: absolute;
    bottom: 0px;
    right: 1rem;
    color: #F6D193;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #603101 1px 1px 8px;
}

#subtitle {
    display: inherit;
    /* font family: gunydrops */
}

.yt-embed {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}
.spacer {
    margin: 1em;
}
.banner {
    position: absolute;
    top: -10px;
    left: var(--spacing-4);
  }
  
  .banner img {
    height: 80px;
  }
  
  .banner:hover img {
    animation: wave-flag 0.5s linear infinite alternate;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .banner:hover img {
      transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
      transform-origin: top left;
    }
  }

  @keyframes wave-flag {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }

button {
    background-color: #603101!important;
}

.announcement-banner {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #603101;
    width: auto;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
}

.announcement-text {
    font-size: 20px;
    font-weight: bold;
    color: #F6D193;
    letter-spacing: 1px;
}

.additional-info {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: #F6D193;
    background-color: #4c2a0d;
    padding: 1em;
    border-radius: 10px;
}

.container > h3 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;

}

.event-code-form {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.event-code-input {
    background-color: #733e08;
    border: none;
    padding: 0.7em;
    border-radius: 0.5em;
    color: #F6D193;
    font-family: "Fraunces", monospace;
}

.event-code-input::placeholder {
    color: #F6D193;
    font-size: 1.2em;
    font-family: "Fraunces", monospace;
}

.event-code-input:focus {
    outline: none;
    box-shadow: 0 0 5px #F6D193;
}

.event-code-button {
    border: 0;
    padding: 0.7em;
    border-radius: 0.5em;
    color: #F6D193;
    background-color: #733e08;
    cursor: pointer;
    font-family: "Fraunces", monospace;
}

.event-code-button:focus {
    outline: none;
    box-shadow: 0 0 5px #F6D193;
}